extends layout

block content

	include ./includes/menu.jade

	div(class="container-fluid")
		div(class="starter-template")

			div(class="row") 

				h1 Guesses on if these colors are red

				div(class="col-md-12 ")
					each row in data
						div( style="float: left; padding: 10px; ")
							div#box_small( 
								style="background-color: #{row.color}; margin-bottom: 10px; "
								) 
							div(class="progress")
								div(
									class="progress-bar progress-bar-#{row.guess.percent_type}" 
									role="progressbar" 
									aria-valuemin="0" aria-valuemax="100" 
									style="width: #{row.guess.percent_width}%;"
									aria-valuenow="#{row.guess.percent_width}" 
									)
									| #{row.guess.percent}%


	div.footer

block js-footer

	script(type="text/javascript").
		//
		// Catch keypresses.  This makes training the neural network MUCH faster.
		//
		$(document).on("keydown", function(e) {

			var code = (e.keyCode || e.which);
			console.log(code); // Debugging

			if (code == 72) {
				window.location = "/";

			} else if (code == 71) {
				window.location = "/guess";

			}
	
			});






