extends layout

block content

	include ./includes/menu.jade

	div(class="container-fluid")
		div(class="starter-template")

			div(class="row") 
				h1 Is this color red?
				div(class="lead col-md-offset-3 col-md-6") 
					| Teach me whether different colors are red, and then train 
					| me so I can predict more colors.
				.div(class="lead col-md-offset-3 col-md-6") 
					div#box( style="background-color: #{color.color};") 


			div(class="row") 
				.div(class="lead col-md-offset-3 col-md-6") 
					if message
						div( class="alert alert-success" role="alert") #{message}

			div(class="row") 
				.div(class="lead col-md-offset-3 col-md-6") 

					form( method="post" action="add")
						input(type="hidden", name="color_red", value="#{color.red}")
						input(type="hidden", name="color_green", value="#{color.green}")
						input(type="hidden", name="color_blue", value="#{color.blue}")
						input(type="hidden", name="_csrf", value="#{csrfToken}")

						div#buttons
							button(type="submit" class="btn btn-lg btn-success" 
								name="is_red" id="button_yes" value="Yes") (Y)eah!
							= " "
							button(type="submit" class="btn btn-lg btn-danger" 
								name="is_red" id="button_no" value="No") (N)ope!
	
			div(class="row") 
				.div(class="lead col-md-offset-3 col-md-6") 
					p.
						Number of items in network: #{nn_length}
					p.
						Number of items trained: #{num_trained}

					if guess.red_guess
						p Guess on if this is red: #{guess.red_guess}

						div(class="progress")
							div(
								class="progress-bar progress-bar-#{guess.percent_type}" 
								role="progressbar" 
								aria-valuemin="0" aria-valuemax="100" 
								style="width: #{guess.percent_width}%;"
								aria-valuenow="#{guess.percent_width}" 
								)
								| #{guess.percent}%

					if nn_length
						form( method="post" action="train")
							input(type="hidden", name="_csrf", value="#{csrfToken}")
							button(type="submit" class="btn btn-lg btn-success" 
								id="button_train"
								value="Train Neural Network based on current guesses"
								) (T)rain Neural Network
							= " "
							button(type="submit" class="btn btn-lg btn-danger" 
								id="button_clear"
								value="Clear"
								) (C)lear Neural Network

	div.footer


block js-footer

	script(type="text/javascript").

		$("#button_clear").on("click", function() {
				window.location = "/clear";
				return(false);
			});

		//
		// Catch keypresses.  This makes training the neural network MUCH faster.
		//
		$(document).on("keydown", function(e) {

			var code = (e.keyCode || e.which);
			//console.log(code); // Debugging

			if (code == 89) {
				// "y"
				$("#button_yes").click();

			} else if (code == 78) {
				// "n"
				$("#button_no").click();

			} else if (code == 84) {
				// "t"
				$("#button_train").click();

			} else if (code == 72) {
				// "h"
				window.location = "/";

			} else if (code == 67) {
				// "c"
				$("#button_clear").click();

			} else if (code == 83) {
				// "s"
				window.location = "/?red_bias=2";

			} else if (code == 71) {
				// "g"
				window.location = "/guess?num=1000";

			}
	
			});





