extends layout

block content

	div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
		div(class="container")
			// Used for when in a narrow, mobile view
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand" href="#") Neural Network

			// Wide menu for desktops
			div(class="collapse navbar-collapse")
				ul(class="nav navbar-nav")
					li(class="active")
						a(href="/") Home
					li
						a(href="guess") Take (G)uesses
					//li
					//	a(href="#about") About
					//li
					//	a(href="#contact") Contact

	div(class="container-fluid")
		div(class="starter-template")

			div(class="row") 
				h1 Is this color red?
				div(class="lead col-md-offset-3 col-md-6") 
					| Teach me whether different colors are red, and then train 
					| me so I can predict more colors.
				.div(class="lead col-md-offset-3 col-md-6") 
					div#box( style="background-color: #{color.color};") 


			div(class="row") 
				.div(class="lead col-md-offset-3 col-md-6") 
					if message
						div( class="alert alert-success" role="alert") #{message}

			div(class="row") 
				.div(class="lead col-md-offset-3 col-md-6") 

					form( method="post" action="add")
						input(type="hidden", name="color_red", value="#{color.red}")
						input(type="hidden", name="color_green", value="#{color.green}")
						input(type="hidden", name="color_blue", value="#{color.blue}")

						div#buttons
							button(type="submit" class="btn btn-lg btn-success" 
								name="is_red" id="button_yes" value="Yes") (Y)eah!
							= " "
							button(type="submit" class="btn btn-lg btn-danger" 
								name="is_red" id="button_no" value="No") (N)ope!
	
			div(class="row") 
				.div(class="lead col-md-offset-3 col-md-6") 
					p.
						Number of items in network: #{nn_length}
					p.
						Number of items trained: #{num_trained}

					if guess.red_guess
						p Guess on if this is red: #{guess.red_guess}

						div(class="progress")
							div(
								class="progress-bar progress-bar-#{guess.percent_type}" 
								role="progressbar" 
								aria-valuemin="0" aria-valuemax="100" 
								style="width: #{guess.percent_width}%;"
								aria-valuenow="#{guess.percent_width}" 
								)
								| #{guess.percent}%

					if nn_length
						form( method="post" action="train")
							button(type="submit" class="btn btn-lg btn-success" 
								id="button_train"
								value="Train Neural Network based on current guesses"
								) (T)rain Neural Network based on current guesses

	div.footer


block js-footer
	script(type="text/javascript").
		//
		// Catch keypresses.  This makes training the neural network MUCH faster.
		//
		$(document).on("keydown", function(e) {

			var code = (e.keyCode || e.which);
			console.log(code); // Debugging

			if (code == 89) {
				$("#button_yes").click();

			} else if (code == 78) {
				$("#button_no").click();

			} else if (code == 84) {
				$("#button_train").click();

			} else if (code == 71) {
				window.location = "/guess";

			}


			});


