extends layout

block content
	h1 #{title}

	div#outer
		if message
			div#message #{message}
		else
			div#message_empty &nbsp;

		div#box( style="background-color: #{color.color};")

		div#caption
			form( method="post" action="add")
				input(type="hidden", name="color_red", value="#{color.red}")
				input(type="hidden", name="color_green", value="#{color.green}")
				input(type="hidden", name="color_blue", value="#{color.blue}")

				p.
					Is this color red?
				div#buttons
					input#red_yes(type="submit", name="is_red", value="Yes")
					input#red_no(type="submit", name="is_red", value="No")

			p.
				Number of items in network: #{nn_length}
			p.
				Number of items trained: #{num_trained}
			if red_guess
				p Guess on if this is red: #{red_guess}

			if nn_length
				form( method="post" action="train")
					input#train(
						type="submit", 
						value="Train Neural Network based on current guesses"
						)


